@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aplicación de Remesas Internacionales con Gestión de Transacciones en Dólares y Bitcoin</h1>
    <p>Vete a Transacciones si deseas transferir dinero de USD a BTC o BTC a USD</p>
</div>
